alabaster
flask
httpx==0.11.0
marshmallow
numpy
onnxruntime
Pillow>=7.0.0
pytest
pytest-cov
pytest-mock
respx==0.9.0
setuptools
Sphinx
sphinx-rtd-theme
typing
git+https://github.com/PhotonQuantum/sphinx-autodoc-typehints.git
