alabaster
flask
httpx==0.11.1
marshmallow
numpy
onnxruntime; python_version < '3.9'
Pillow>=7.0.0
pytest
pytest-cov
pytest-mock
respx==0.9.0
setuptools
Sphinx
sphinx-rtd-theme
typing
lxml
git+https://github.com/PhotonQuantum/sphinx-autodoc-typehints.git
